In [1]:
import pandas as pd
import numpy as np

In [2]:
relation = "@RELATION bank"
attr = "@ATTRIBUTE"
data = "@DATA"

attribute = []

In [3]:
readIn = pd.read_csv('./clean.csv', header=None)
fo = open("result.arff", "a")

In [4]:
readIn

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,age,job,marital,edu,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,30,unemployed,married,primary,no,0.49804796430563303,no,no,cellular,19,oct,0.11346444780635401,1,-1,0,unknown,no
2,35,management,single,tertiary,no,0.3761851645287228,yes,no,cellular,16,apr,0.27382753403933435,1,330,1,failure,no
3,30,management,married,tertiary,no,0.4113218070273285,yes,yes,unknown,3,jun,0.2950075642965204,4,-1,0,unknown,no
4,35,management,single,tertiary,no,0.20803123257110986,no,no,cellular,23,feb,0.20726172465960666,2,176,3,failure,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3050,38,blue-collar,married,secondary,no,0.33575013943112103,yes,no,cellular,20,apr,0.06202723146747353,4,153,1,failure,no
3051,32,services,single,secondary,no,0.1316229782487451,yes,no,cellular,7,jul,0.9379727685325264,5,-1,0,unknown,no
3052,57,technician,married,secondary,no,0.08198549916341327,no,no,cellular,19,aug,0.22239031770045387,11,-1,0,unknown,no
3053,28,blue-collar,married,secondary,no,0.31678750697155605,no,no,cellular,6,feb,0.18910741301059,4,211,3,other,no
3054,44,entrepreneur,single,tertiary,no,0.31650864472950363,yes,yes,cellular,3,apr,0.5158850226928896,2,249,7,other,no

In [5]:
attribute = readIn.iloc[0,:]

In [6]:
fo.write(relation+"\n\n")

16

In [7]:
space = 13

fo.write(attr+" "+attribute[0].ljust(space)+" "+"numeric\n")
fo.write(attr+" "+attribute[1].ljust(space)+" "+"{admin.,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,unknown}\n")
fo.write(attr+" "+attribute[2].ljust(space)+" "+"{divorced,married,single}\n")
fo.write(attr+" "+attribute[3].ljust(space)+" "+"{primary,secondary,tertiary,unknown}\n")
fo.write(attr+" "+attribute[4].ljust(space)+" "+"{yes,no}\n")
fo.write(attr+" "+attribute[5].ljust(space)+" "+"numeric\n")
fo.write(attr+" "+attribute[6].ljust(space)+" "+"{yes,no}\n")
fo.write(attr+" "+attribute[7].ljust(space)+" "+"{yes,no}\n")
fo.write(attr+" "+attribute[8].ljust(space)+" "+"{cellular,telephone,unknown}\n")
fo.write(attr+" "+attribute[9].ljust(space)+" "+"{1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31}\n")
fo.write(attr+" "+attribute[10].ljust(space)+" "+"{jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec}\n")
fo.write(attr+" "+attribute[11].ljust(space)+" "+"numeric\n")
fo.write(attr+" "+attribute[12].ljust(space)+" "+"numeric\n")
fo.write(attr+" "+attribute[13].ljust(space)+" "+"numeric\n")
fo.write(attr+" "+attribute[14].ljust(space)+" "+"numeric\n")
fo.write(attr+" "+attribute[15].ljust(space)+" "+"{failure,other,success,unknown}\n")
fo.write(attr+" "+attribute[16].ljust(space)+" "+"{yes,no}\n")
fo.write("\n")
fo.write(data+"\n")

6

In [8]:
readIn.iloc[1:,:]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
1,30,unemployed,married,primary,no,0.49804796430563303,no,no,cellular,19,oct,0.11346444780635401,1,-1,0,unknown,no
2,35,management,single,tertiary,no,0.3761851645287228,yes,no,cellular,16,apr,0.27382753403933435,1,330,1,failure,no
3,30,management,married,tertiary,no,0.4113218070273285,yes,yes,unknown,3,jun,0.2950075642965204,4,-1,0,unknown,no
4,35,management,single,tertiary,no,0.20803123257110986,no,no,cellular,23,feb,0.20726172465960666,2,176,3,failure,no
5,36,self-employed,married,tertiary,no,0.08533184606804238,yes,no,cellular,14,may,0.5098335854765507,1,330,2,other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3050,38,blue-collar,married,secondary,no,0.33575013943112103,yes,no,cellular,20,apr,0.06202723146747353,4,153,1,failure,no
3051,32,services,single,secondary,no,0.1316229782487451,yes,no,cellular,7,jul,0.9379727685325264,5,-1,0,unknown,no
3052,57,technician,married,secondary,no,0.08198549916341327,no,no,cellular,19,aug,0.22239031770045387,11,-1,0,unknown,no
3053,28,blue-collar,married,secondary,no,0.31678750697155605,no,no,cellular,6,feb,0.18910741301059,4,211,3,other,no
3054,44,entrepreneur,single,tertiary,no,0.31650864472950363,yes,yes,cellular,3,apr,0.5158850226928896,2,249,7,other,no

In [9]:
for i in range(1,len(readIn.iloc[:,1])):
    temp = ""
    for j in range(0,17):
        if(j!=16):
            temp+=readIn.iloc[i,j]+","
        else:
            temp+=readIn.iloc[i,j]
    fo.write(temp+"\n")

In [10]:
fo.close()

In [11]:
set(readIn.iloc[:,15])

{'failure', 'other', 'poutcome', 'success', 'unknown'}